.layout {
  &__container {
    display: flex;
    height: 100%;
  }

  &__main-content {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
